@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
body{
    transition: background-color 0.3s;
    background-color: hsl(230, 17%, 14%);
}
.light{
    background-color:hsl(0, 0%, 100%);
}