@media screen and (max-width: 815px){
    .container-followers{
        grid-template-columns: repeat(2, 1fr);
    }
    .container-overviews h2{
        margin: 48px auto 16px auto;
        max-width: 325px;
    }
    .container-overviews-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 525px){
    header .container{
        flex-direction: column;
    }
    .dark-mode-button{
        width: 100%;
        max-width: 325px;
        justify-content: space-between;
        border-top: 1px solid hsl(228, 34%, 66%);
    }
    .container-followers{
        grid-template-columns: 1fr;
    }
    .container-followers .follower-card{
        margin: 0 auto;
        min-width: 325px;
    }
    .container-overviews-cards {
        grid-template-columns: 1fr;
    }
    .container-overviews-cards .overview-card{
        margin: 0 auto;
        min-width: 325px;
    }
}